<!-- C\Code\mysite\elections\templates\elections\index.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <title>visualize</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.time.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
</head>
<body>
    <div id="notices" class="container">
        <div class="row" style="height:50px"></div>
        <div class="row">
            <h1>{{ days_min }}일 이상 기록된 공지사항({{ num }}개) 조회</h1>
        </div>
        <div class="row">
            <button id="all_data" type="button" class="btn btn-outline-primary">모든 데이터 가져오기</button>
        </div>
        <div class="row" style="height:50px"></div>
    </div>
    <script>
        var notices = JSON.parse('{{ notices }}'.replace(/&quot;/g, '"'));
        var axis_info = JSON.parse('{{ axis_info }}'.replace(/&quot;/g, '"'));
        var time_min = axis_info['time_min'];
        var time_max = axis_info['time_max'];
        var hits_max = axis_info['hits_max'];

        notices.forEach(function(notice){
            var notice_id = notice['notice_id'];
            var title = notice['title'];

            $.tmpl(
                '<div id="${notice_id}">' +
                '   <div class="row">' +
                '     <h4>${title}</h4>' +
                '   </div>' +
                '   <div class="row">' +
                '     <button id="${notice_id}_data" type="button" class="btn btn-outline-primary btn-data">데이터 가져오기</button>' +
                '     <h4 id="${notice_id}_exponent"></h4>' +
                '   </div>' +
                '   <div class="row" style="height:300px">' +
                '      <div id="${notice_id}_graph" class="col"></div>' +
                '   </div>' +
                '   <div class="row" style="height:50px"></div>' +
                '</div>',
                {notice_id: notice_id, title: title}
            ).appendTo("#notices");

            $.plot($('#'+notice_id+'_graph'),[[[0, 0]]], {
                xaxis: {
                    mode: "time",
                    minTickSize: [1, "day"],
                    min: time_min,
                    max: time_max
                },
                yaxis: {
                    max: hits_max
                }
            });

            $('#'+notice_id+'_data').click(function() {
                $.getJSON("visualize/get_hits", { notice_id : notice_id }, function( data ) {
                    var hits_increase = data['hits_increase'];
                    var exponent = data['exponent'];

                    var regression = [];
                    for(var i=0; i<hits_increase.length; i++) {
                        var time = hits_increase[i][0];
                        var x = time - hits_increase[0][0];
                        regression[i] = [time, Math.pow(x, exponent)]
                    }

                    $.plot($('#'+notice_id+'_graph'),[ hits_increase, regression ], {
                        xaxis: {
                            mode: "time",
                            minTickSize: [1, "day"],
                            min: time_min,
                            max: time_max
                        },
                        yaxis: {
                            max: hits_max
                        }
                    });
                    $('#'+notice_id+'_data').hide();
                    $('#'+notice_id+'_exponent').html('(x-'+(hits_increase[0][0]-time_min)+')^<span style="color:red">'+exponent+'</span>')
                });
            })
        });

        $('#all_data').click(function() {
            $('.btn-data').trigger('click');
            $('#all_data').hide();
        });
    </script>
</body>